.section {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 0px auto;
	width: 1186px;
}


.header {
	width: 100%;
}

.title {
	font-size: 24px;
	font-weight: 600;
	color: var(--text-primary);
	margin-bottom: 20px;
}

.form {
	max-width: 560px;
}

.input {
	flex: 1;
	min-width: 300px;
	padding: 12px 16px;
	border-radius: 999px;
	border: 1px solid var(--border);
	font-size: 16px;
	background-color: var(--bg-card);
	color: var(--text-primary);
	margin-right: 20px;
}

.input::placeholder {
	color: var(--text-secondary);
}

.button {
	padding: 10px 20px;
	border-radius: 999px;
	border: none;
	background-color: var(--accent);
	color: var(--bg-primary);
	cursor: pointer;
	transition: background-color 0.2s ease;
	font-weight: 600;
	font-size: 18px;
}

.button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
	box-shadow: none;
}

.emptyMessage {
	margin-top: 20px;
	font-size: 24px;
	font-weight: 600;
	color: var(--text-secondary);
}

.notFoundMessage {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 400;
	color: var(--text-secondary);
}
