.container {
	border-bottom: 1px solid var(--border);
	height: 100px;
	font-size: 22px;
	width: 100%;
	background-color: var(--bg-secondary);
	box-shadow: 0 4px 12px rgba(8, 28, 21, 0.05);
	padding: 16px 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	flex-wrap: wrap;
}

.logo {
	height: 24px;
	width: auto;
}

.list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.link {
	color: var(--text-primary);
	font-weight: 600;
}

.link:hover {
	color: var(--text-secondary);
}

.activeLink {
	color: var(--accent);
	font-weight: 600;
}


.switch {
	width: 52px;
	height: 30px;
	border-radius: 999px;
	border: none;
	cursor: pointer;
	position: relative;
	padding: 0;
	background: var(--bg-card);
	transition: background 0.4s ease;
}

.active {
	background: var(--bg-primary);
	box-shadow: 0 0 8px var(--accent);
}

.thumb {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: var(--accent);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	transition:
		transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1),
		/* iOS bounce */ width 0.2s ease,
		background 0.3s ease;
}

.active .thumb {
	transform: translateX(22px);
	background: var(--accent-hover);
}

.switch:active .thumb {
	width: 28px;
}

.active:active .thumb {
	transform: translateX(18px);
}
