.section {
	margin-top: 40px;
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
	gap: 24px;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 24px;
	font-weight: 600;
	color: var(--text-primary);
}

.filterColumn {
	grid-column: 1;
	background-color: var(--bg-card);
}

.moviesColumn {
	grid-column: 2;
	min-width: 0;
	display: grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));
	gap: 24px;
}

.filters {
	border-radius: 12px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 36px;
}
