/* NULL PARAMETERS */

* {
	padding: 0;
	margin: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	&:before,
	&:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

:focus,
:active {
	outline: none;
}

a {
	&:focus,
	&:active {
		outline: none;
	}
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 14px;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

a {
	text-decoration: none;

	&:visited,
	&:hover {
		text-decoration: none;
	}
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*GLOBAL VARIABLES*/

:root {
	--bg-primary: #FAF6EF;
	--bg-secondary: #F0E8D8;
	--bg-card: #FFFFFF;
	--accent: #B85C2A;
	--accent-hover:#ffcc80 ;
	--accent-soft: rgba(27, 67, 50, 0.1);
	--color-white: #fff;

	--text-primary: #2C1810;
	--text-secondary: #8A6A50;

	--border: rgba(184, 92, 42, 0.15);
	--color-green-600: #16a34a;
	--color-yellow-400: #facc15;
	--color-red-600: #dc2626;
}

[data-theme="dark"] {
	--bg-primary: #081c15;
	--bg-secondary: #1b4332;
	--bg-card: #2d6a4f;

	--accent: #95d5b2;
	--accent-hover: #3fcd7f;
	--nav-link-hover: #b7e4c7;
	--accent-soft: rgba(149, 213, 178, 0.1);
	--text-primary: #fdfaf5;
	--text-secondary: #95a5a1;
	--border: rgba(149, 213, 178, 0.2);
}
